@using namasdev.Web.Models;
@using namasdev.Apps.Entidades.Metadata; 
@using namasdev.Apps.Web.Portal.ViewModels.Entidades;
@model EntidadViewModel
@{
    Layout = "~/Views/Shared/_EntidadesLayout.cshtml";
    ViewBag.Title = $"{Model.PaginaModo} {EntidadMetadata.ETIQUETA}";
    
    var controlesIds = new
    {
        Form = $"frm{EntidadMetadata.NOMBRE}"
    };
}
<form id="@controlesIds.Form" action="@Url.Action()" method="post" class="mt-3">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(excludePropertyErrors: true)
    @Html.Partial("_Errores")
    @Html.Partial("_ResultadoOk")
    @Html.HiddenFor(m => m.PaginaModo)
    @Html.HiddenFor(m => m.EntidadId)
    @Html.HiddenFor(m => m.AplicacionId)
    @Html.HiddenFor(m => m.AplicacionVersionId)
    <div class="form-row">
        <div class="form-group col-lg-5 col-md-6">
            <div><strong>@Html.DisplayNameFor(m => m.AplicacionNombre):</strong> @Model.AplicacionNombre</div>
            <div><strong>@Html.DisplayNameFor(m => m.AplicacionVersionNombre):</strong> @Model.AplicacionVersionNombre</div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-lg-5 col-md-6">
            @Html.LabelFor(m => m.Nombre, new { @class = "requerido" })
            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control form-control-required", maxlength = EntidadMetadata.Propiedades.Nombre.TAMAÑO_MAX })
            @Html.ValidationMessageFor(m => m.Nombre)
        </div>
        <div class="form-group col-lg-5 col-md-6">
            @Html.LabelFor(m => m.NombrePlural, new { @class = "requerido" })
            @Html.TextBoxFor(m => m.NombrePlural, new { @class = "form-control form-control-required", maxlength = EntidadMetadata.Propiedades.NombrePlural.TAMAÑO_MAX })
            @Html.ValidationMessageFor(m => m.NombrePlural)
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-lg-5 col-md-6">
            @Html.LabelFor(m => m.Etiqueta, new { @class = "requerido" })
            @Html.TextBoxFor(m => m.Etiqueta, new { @class = "form-control form-control-required", maxlength = EntidadMetadata.Propiedades.Etiqueta.TAMAÑO_MAX })
            @Html.ValidationMessageFor(m => m.Etiqueta)
        </div>
        <div class="form-group col-lg-5 col-md-6">
            @Html.LabelFor(m => m.EtiquetaPlural, new { @class = "requerido" })
            @Html.TextBoxFor(m => m.EtiquetaPlural, new { @class = "form-control form-control-required", maxlength = EntidadMetadata.Propiedades.EtiquetaPlural.TAMAÑO_MAX })
            @Html.ValidationMessageFor(m => m.EtiquetaPlural)
        </div>
    </div>
    @if (Model.PaginaModo == PaginaModo.Agregar)
    {
        <fieldset>
            <legend>Propiedades default</legend>
            <div class="form-row">
                <div class="form-group col-lg-3 col-md-6">
                    @Html.LabelFor(m => m.PropiedadesDefaultIDPropiedadTipoId)
                    @Html.DropDownListFor(m => m.PropiedadesDefaultIDPropiedadTipoId, Model.PropiedadTiposSelectList, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PropiedadesDefaultIDPropiedadTipoId)
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-5 col-md-6">
                    <div class="custom-control custom-switch">
                        @Html.CheckBoxFor(m => m.PropiedadesDefaultAuditoriaCreado, new { @class = "custom-control-input" })
                        @Html.LabelFor(m => m.PropiedadesDefaultAuditoriaCreado, new { @class = "custom-control-label" })
                    </div>
                    <div class="custom-control custom-switch">
                        @Html.CheckBoxFor(m => m.PropiedadesDefaultAuditoriaUltimaModificacion, new { @class = "custom-control-input" })
                        @Html.LabelFor(m => m.PropiedadesDefaultAuditoriaUltimaModificacion, new { @class = "custom-control-label" })
                    </div>
                    <div class="custom-control custom-switch">
                        @Html.CheckBoxFor(m => m.PropiedadesDefaultAuditoriaBorrado, new { @class = "custom-control-input" })
                        @Html.LabelFor(m => m.PropiedadesDefaultAuditoriaBorrado, new { @class = "custom-control-label" })
                    </div>
                </div>
            </div>
        </fieldset>
    }
    <button type="submit" class="btn btn-primary" data-toggle-state-container="#@controlesIds.Form">Guardar</button>
    <a href="@Url.Action("Index", new { aplicacionVersionId = Model.AplicacionVersionId })" class="btn btn-secondary">Volver</a>
</form>
@section bodyScripts {
    <script type="text/javascript">
        $(function () {
            namasdevApps.setActiveMenuOption('entidades');

            @if (Model.PaginaModo == namasdev.Web.Models.PaginaModo.Editar) { <text>
            $('#tabEntidad').addClass('active');
            </text>} else {<text>
            $('#tabsEntidad').remove();
            </text> }
        });
    </script>
}
