@using namasdev.Apps.Entidades.Metadata;
@using namasdev.Apps.Web.Portal.ViewModels.Aplicaciones;
@model AplicacionViewModel
@{
    ViewBag.Title = String.Format("{0} {1}", Model.PaginaModo, AplicacionMetadata.ETIQUETA);

    var controlesIds = new
    {
        Form = $"frm{AplicacionMetadata.NOMBRE}"
    };
}
<h2 class="my-3">@ViewBag.Title</h2>
@if (Model.AplicacionId.HasValue)
{
    <div class="row my-3">
        <div class="col-12">
            <a href="@Url.Action("Index", "Versiones", new { Model.AplicacionId })" class="btn btn-sm btn-info">@AplicacionVersionMetadata.ETIQUETA_PLURAL</a>
            <a href="@Url.Action("Index", "Entidades", new { Model.AplicacionId })" class="btn btn-sm btn-info">@EntidadMetadata.ETIQUETA_PLURAL</a>
        </div>
    </div>
}
<form id="@controlesIds.Form" action="@Url.Action()" method="post" class="mt-3">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(excludePropertyErrors: true)
    @Html.Partial("_Errores")
    @Html.Partial("_ResultadoOk")
    @Html.HiddenFor(m => m.AplicacionId)
    @Html.HiddenFor(m => m.PaginaModo)
    <div class="form-row">
        <div class="form-group col-lg-5 col-md-6">
            @Html.LabelFor(m => m.Nombre, new { @class = "requerido" })
            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control form-control-required", maxlength = AplicacionMetadata.Propiedades.Nombre.TAMAÑO_MAX })
            @Html.ValidationMessageFor(m => m.Nombre)
        </div>
        <div class="form-group col-lg-5 col-md-6">
            @Html.LabelFor(m => m.IdiomaId, new { @class = "requerido" })
            @Html.DropDownListFor(m => m.IdiomaId, Model.IdiomasSelectList, "", new { @class = "form-control form-control-required" })
            @Html.ValidationMessageFor(m => m.IdiomaId)
        </div>
    </div>
    <button type="submit" class="btn btn-primary" data-toggle-state-container="#@controlesIds.Form">Guardar</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Volver</a>
</form>
@section bodyScripts {
    <script type="text/javascript">
        $(function () {
            namasdevApps.setActiveMenuOption('aplicaciones');
        });
    </script>
}
