@using namasdev.Web.Helpers;
@model namasdev.Apps.Web.Portal.ViewModels.Aplicaciones.AplicacionesViewModel
@{
    ViewBag.Title = "Aplicaciones";

    var controlesIds = new
    {
        Form = "frmAplicaciones",
        TablaContainer = "divAplicacionesContainer",
        Tabla = "tblAplicaciones"
    };
    var displayNames = new
    {
        Busqueda = Html.DisplayNameWithoutEncodingFor(m => m.Busqueda).ToString()
    };
    var clasesCss = new 
    {
        BotonEliminar = "btn-eliminar"
    };
}
<h2 class="my-2">@ViewBag.Title</h2>
@Html.Partial("_ResultadoOk")
@Html.Partial("_Errores")
<div class="row my-3">
    <div class="col-md-3">
        <a href="@Url.Action("Agregar")" class="btn btn-primary">Agregar nuevo</a>
    </div>
    <div class="col-md-9 text-right filtros">
        @using (Html.BeginForm("Index", "Aplicaciones", FormMethod.Get, new { @class = "form-inline pull-right" }))
        {
            @Html.TextBoxFor(m => m.Busqueda, new { @class = "form-control ml-1", placeholder = displayNames.Busqueda, title = displayNames.Busqueda, data_toggle = "tooltip" })
            <button type="submit" class="btn btn-secondary ml-1">Buscar</button>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @if (Model.TieneItems)
        {
            <div id="@controlesIds.TablaContainer" class="table-responsive">
                <form id="@controlesIds.Form">
                    @Html.AntiForgeryToken()
                </form>
                <table id="@controlesIds.Tabla" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th><a href="@URLHelper.GenerarUrlConOrden(Request.Url, "Nombre")">@Html.DisplayNameFor(m => m.Items[0].Nombre) <i class="fa fa-sort ml-2"></i></a></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>@item.Nombre</td>
                                <td class="text-center">
                                    <a href="@Url.Action("Editar", new { id = item.AplicacionId })" class="btn btn-sm btn-outline-secondary"><i class="fa fa-edit" data-toggle="tooltip" title="Editar"></i></a>
                                    <button class="btn btn-sm btn-outline-danger @clasesCss.BotonEliminar" data-id="@item.AplicacionId"><i data-toggle="tooltip" title="Eliminar" class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @Html.Partial("_Paginador", Model.Paginacion)
        }
        else
        {
            <div class="alert alert-warning">No hay aplicaciones para mostrar.</div>
        }
    </div>
</div>
@section bodyScripts {
    <script type="text/javascript">
        $(function () {
            namasdevApps.setActiveMenuOption('aplicaciones');

            $('#@controlesIds.Tabla')
                .on('click', '.@clasesCss.BotonEliminar', function (ev) {
                    ev.preventDefault();

                    var id = $(this).data('id');
                    if (!id) {
                        return;
                    }

                    var options = {
                        showLoadingSelector: '#@controlesIds.TablaContainer',
                        confirm: true,
                        confirmTitle: 'Eliminar aplicación',
                        confirmMessage: '¿Estás seguro que deseas eliminar la aplicación seleccionada?'
                    };
                    namasdevApps.postJson(
                        '@Url.Action("Eliminar")/' + id,
                        nmd.ui.forms.createDataWithAntiForgeryToken('#@controlesIds.Form'),
                        function (response) {
                            if (response.success) {
                                nmd.ui.controls.showSuccessModal(
                                    'La aplicación fue eliminada correctamente.',
                                    function () {
                                        nmd.page.reloadPage();
                                    });
                            }
                            else {
                                namasdevApps.showErrorModal(response.message);
                            }
                        },
                        options
                    );

                    return false;
                });
        });
    </script>
}
