@model namasdev.Apps.Entidades.Entidad
@{
    var namespaces = new
    {
        Aplicacion = Model.AplicacionVersion.Aplicacion.Nombre
    };
    var clases = new
    {
        ItemModel = $"{Model.Nombre}ItemModel",
        MetadataPropiedades = $"{Model.Nombre}Metadata.Propiedades",
    };
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ItemModel</title>
</head>
<body>
    <pre><code>
using System;
using System.ComponentModel.DataAnnotations;

using @(namespaces.Aplicacion).Entidades.Metadata;

namespace @(namespaces.Aplicacion).Web.Portal.Models.@Model.NombrePlural
{
    public class @clases.ItemModel
    {
    @foreach(var p in Model.Propiedades)
    {
        if (p.EsCalculada || p.EsAuditoria()) { continue; }
        <text>[Display(Name = @(clases.MetadataPropiedades).@(p.Nombre).ETIQUETA)]
        public @(p.PermiteNull ? p.Tipo.CLRTypeNullable : p.Tipo.CLRType) @p.Nombre { get; set; }
        </text>
    }
    }
}
    </code></pre>
</body>
</html>
