@model namasdev.Apps.Entidades.Entidad
@{
    var namespaces = new
    {
        Aplicacion = Model.AplicacionVersion.Aplicacion.Nombre
    };
    var clases = new
    {
        Mapper = $"{Model.NombrePlural}Mapper",
        Entidad = Model.Nombre,
        ItemModel = $"{Model.Nombre}ItemModel",
        ListaViewModel = $"{Model.NombrePlural}ViewModel",
        EntidadViewModel = $"{Model.Nombre}ViewModel",
    };
    var variables = new
    {
        ViewModel = "model",
        Entidad = "entidad",
        Entidades = "entidades",
    };

    var entidadAItemModelAsignaciones = new List<string>();
    var entidadAViewModelEntidadAsignaciones = new List<string>();
    var viewModelAEntidadAsignaciones = new List<string>();
    foreach (var p in Model.Propiedades)
    {
        if (p.EsCalculada
            || p.EsAuditoria())
        {
            continue;
        }

        entidadAItemModelAsignaciones.Add($"{p.Nombre} = e.{(p.EsId() ? "Id" : p.Nombre)}");
        entidadAViewModelEntidadAsignaciones.Add($"{p.Nombre} = entidad.{(p.EsId() ? "Id" : p.Nombre)}");
        viewModelAEntidadAsignaciones.Add($"{(p.EsId() ? "Id" : p.Nombre)} = {variables.ViewModel}.{p.Nombre}{(p.EsId() ? "default" : "")}");
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mapper</title>
</head>
<body>
<pre><code>
using System;
using System.Collections.Generic;
using System.Linq;

using namasdev.Core.Validation;
using @(namespaces.Aplicacion).Entidades;
using @(namespaces.Aplicacion).Web.Portal.Models.@Model.NombrePlural;
using @(namespaces.Aplicacion).Web.Portal.ViewModels.@Model.NombrePlural;

namespace @(namespaces.Aplicacion).Web.Portal.Mappers
{
    public class @clases.Mapper
    {
        public static List@($"<{clases.ItemModel}>") MapearEntidadesAModelos(IEnumerable@($"<{clases.Entidad}>") @variables.Entidades)
        {
            Validador.ValidarArgumentListaRequeridaYThrow(@variables.Entidades, nameof(@variables.Entidades), validarNoVacia: false);

            return @variables.Entidades
                .Select(e => new @clases.ItemModel
                {
                @foreach (var p in entidadAItemModelAsignaciones)
                {
                    <text>@p,</text>
                }
                })
                .ToList();
        }

        public static @(clases.EntidadViewModel) MapearEntidadA@(clases.EntidadViewModel)(@clases.Entidad @variables.Entidad)
        {
            Validador.ValidarArgumentRequeridoYThrow(@variables.Entidad, nameof(@variables.Entidad));

            return new @(clases.EntidadViewModel)
            {
            @foreach (var p in entidadAViewModelEntidadAsignaciones)
            {
                <text>@p,</text>
            }
            };
        }

        public static @clases.Entidad Mapear@(clases.EntidadViewModel)AEntidad(@clases.EntidadViewModel @variables.ViewModel)
        {
            Validador.ValidarArgumentRequeridoYThrow(@variables.ViewModel, nameof(@variables.ViewModel));

            return new @clases.Entidad
            {
            @foreach (var p in viewModelAEntidadAsignaciones)
            {
                <text>@p,</text>
            }
            };
        }
    }
}
</code></pre>
</body>
</html>
