@using namasdev.Apps.Entidades.Metadata;
@model namasdev.Apps.Web.Portal.ViewModels.EntidadesPropiedades.EntidadPropiedadViewModel
<div class="form-row">
    <div class="form-group col-6">
        @Html.LabelFor(m => m.EspecificacionesTexto.TamañoMinimo)
        @Html.TextBoxFor(m => m.EspecificacionesTexto.TamañoMinimo, new { @class = "form-control inputmask-integer", maxlength = PropiedadTipoEspecificacionesTextoMetadata.Propiedades.TamañoMinimo.TAMAÑO_MAX })
        @Html.ValidationMessageFor(m => m.EspecificacionesTexto.TamañoMinimo)
    </div>
    <div class="form-group col-6">
        @Html.LabelFor(m => m.EspecificacionesTexto.TamañoMaximo)
        @Html.TextBoxFor(m => m.EspecificacionesTexto.TamañoMaximo, new { @class = "form-control inputmask-integer", maxlength = PropiedadTipoEspecificacionesTextoMetadata.Propiedades.TamañoMaximo.TAMAÑO_MAX })
        @Html.ValidationMessageFor(m => m.EspecificacionesTexto.TamañoMaximo)
    </div>
    <div class="form-group col-6">
        @Html.LabelFor(m => m.EspecificacionesTexto.TamañoExacto)
        @Html.TextBoxFor(m => m.EspecificacionesTexto.TamañoExacto, new { @class = "form-control inputmask-integer", maxlength = PropiedadTipoEspecificacionesTextoMetadata.Propiedades.TamañoExacto.TAMAÑO_MAX })
        @Html.ValidationMessageFor(m => m.EspecificacionesTexto.TamañoExacto)
    </div>
    <div class="form-group col-12">
        @Html.LabelFor(m => m.EspecificacionesTexto.RegEx)
        @Html.TextBoxFor(m => m.EspecificacionesTexto.RegEx, new { @class = "form-control", maxlength = PropiedadTipoEspecificacionesTextoMetadata.Propiedades.RegEx.TAMAÑO_MAX })
        @Html.ValidationMessageFor(m => m.EspecificacionesTexto.RegEx)
    </div>
</div>