@using namasdev.Apps.Entidades.Metadata;
@model namasdev.Apps.Web.Portal.ViewModels.EntidadesPropiedades.PropiedadTipoEspecificacionesTextoViewModel
<div class="form-row">
    <div class="form-group col-lg-3 col-md-4">
        @Html.LabelFor(m => m.TamañoMinimo, new { @class = "requerido" })
        @Html.TextBoxFor(m => m.TamañoMinimo, new { @class = "form-control inputmask-integer", maxlength = PropiedadTipoEspecificacionesTextoMetadata.TamañoMinimo.TAMAÑO_MAX })
        @Html.ValidationMessageFor(m => m.TamañoMinimo)
    </div>
    <div class="form-group col-lg-3 col-md-4">
        @Html.LabelFor(m => m.TamañoMaximo, new { @class = "requerido" })
        @Html.TextBoxFor(m => m.TamañoMaximo, new { @class = "form-control inputmask-integer", maxlength = PropiedadTipoEspecificacionesTextoMetadata.TamañoMaximo.TAMAÑO_MAX })
        @Html.ValidationMessageFor(m => m.TamañoMaximo)
    </div>
    <div class="form-group col-lg-3 col-sm-4">
        @Html.LabelFor(m => m.TamañoExacto, new { @class = "requerido" })
        @Html.TextBoxFor(m => m.TamañoExacto, new { @class = "form-control inputmask-integer", maxlength = PropiedadTipoEspecificacionesTextoMetadata.TamañoExacto.TAMAÑO_MAX })
        @Html.ValidationMessageFor(m => m.TamañoExacto)
    </div>
    <div class="form-group col-lg-6">
        @Html.LabelFor(m => m.RegEx, new { @class = "requerido" })
        @Html.TextBoxFor(m => m.RegEx, new { @class = "form-control", maxlength = PropiedadTipoEspecificacionesTextoMetadata.RegEx.TAMAÑO_MAX })
        @Html.ValidationMessageFor(m => m.RegEx)
    </div>
</div>