@using namasdev.Apps.Entidades.Metadata;
@model namasdev.Apps.Web.Portal.ViewModels.EntidadesPropiedades.EntidadPropiedadViewModel
<div class="form-row">
    <div class="form-group col-lg-2 col-md-3 col-6">
        @Html.LabelFor(m => m.PropiedadTipoEspecificacionesNumero.DigitosEnteros, new { @class = "requerido" })
        @Html.TextBoxFor(m => m.PropiedadTipoEspecificacionesNumero.DigitosEnteros, new { @class = "form-control inputmask-integer", maxlength = PropiedadTipoEspecificacionesNumeroMetadata.DigitosEnteros.TAMAÑO_MAX })
        @Html.ValidationMessageFor(m => m.PropiedadTipoEspecificacionesNumero.DigitosEnteros)
    </div>
    <div class="form-group col-lg-2 col-md-3 col-6">
        @Html.LabelFor(m => m.PropiedadTipoEspecificacionesNumero.DigitosDecimales, new { @class = "requerido" })
        @Html.TextBoxFor(m => m.PropiedadTipoEspecificacionesNumero.DigitosDecimales, new { @class = "form-control inputmask-integer", maxlength = PropiedadTipoEspecificacionesNumeroMetadata.DigitosDecimales.TAMAÑO_MAX })
        @Html.ValidationMessageFor(m => m.PropiedadTipoEspecificacionesNumero.DigitosDecimales)
    </div>
    <div class="form-group col-lg-2 col-md-3 col-6">
        @Html.LabelFor(m => m.PropiedadTipoEspecificacionesNumero.ValorMinimo)
        @Html.TextBoxFor(m => m.PropiedadTipoEspecificacionesNumero.ValorMinimo, new { @class = "form-control inputmask-numeric", maxlength = PropiedadTipoEspecificacionesNumeroMetadata.ValorMinimo.TAMAÑO_MAX })
        @Html.ValidationMessageFor(m => m.PropiedadTipoEspecificacionesNumero.ValorMinimo)
    </div>
    <div class="form-group col-lg-2 col-md-3 col-6">
        @Html.LabelFor(m => m.PropiedadTipoEspecificacionesNumero.ValorMaximo)
        @Html.TextBoxFor(m => m.PropiedadTipoEspecificacionesNumero.ValorMaximo, new { @class = "form-control inputmask-numeric", maxlength = PropiedadTipoEspecificacionesNumeroMetadata.ValorMaximo.TAMAÑO_MAX })
        @Html.ValidationMessageFor(m => m.PropiedadTipoEspecificacionesNumero.ValorMaximo)
    </div>
</div>