@using namasdev.Apps.Entidades.Valores;
@using namasdev.Apps.Entidades.Metadata;
@model namasdev.Apps.Web.Portal.ViewModels.EntidadesPropiedades.EntidadPropiedadViewModel
@{
    ViewBag.Title = $"{Model.PaginaModo} {EntidadPropiedadMetadata.ETIQUETA}";
    ViewBag.ExcluirHeaderYFooter = true;
    var controlesIds = new
    {
        Form = $"frm{EntidadPropiedadMetadata.NOMBRE}",
        EspecificacionesTextoRow = $"div{PropiedadTipoEspecificacionesTextoMetadata.NOMBRE}",
        EspecificacionesEnteroRow = $"div{PropiedadTipoEspecificacionesEnteroMetadata.NOMBRE}",
        EspecificacionesDecimalRow = $"div{PropiedadTipoEspecificacionesDecimalMetadata.NOMBRE}",
        EspecificacionesImporteRow = $"div{PropiedadTipoEspecificacionesImporteMetadata.NOMBRE}",
    };
    var textBoxHtmlAttributes =
        Model.EsID
        ? (object)new { @class = "form-control-plaintext form-control-required", @readonly = "readonly" }
        : (object)new { @class = "form-control form-control-required" };
    var dropDownListHtmlAttributes =
        Model.EsID
        ? (object)new { @class = "form-control form-control-required", @disabled = "disabled" }
        : (object)new { @class = "form-control form-control-required" };
}
<form id="@controlesIds.Form" action="@Url.Action()" method="post" class="mx-2">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(excludePropertyErrors: true)
    @Html.Partial("_Errores")
    @Html.Partial("_ResultadoOk")
    @Html.HiddenFor(m => m.PaginaModo)
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.EntidadId)
    @Html.HiddenFor(m => m.EsID)
    <div class="form-row">
        <div class="form-group col-12">
            @Html.LabelFor(m => m.Nombre, new { @class = "requerido" })
            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control form-control-required", maxlength = EntidadPropiedadMetadata.Propiedades.Nombre.TAMAÑO_MAX })
            @Html.ValidationMessageFor(m => m.Nombre)
        </div>
        <div class="form-group col-12">
            @Html.LabelFor(m => m.Etiqueta, new { @class = "requerido" })
            @Html.TextBoxFor(m => m.Etiqueta, new { @class = "form-control form-control-required", maxlength = EntidadPropiedadMetadata.Propiedades.Etiqueta.TAMAÑO_MAX })
            @Html.ValidationMessageFor(m => m.Etiqueta)
        </div>
        <div class="form-group col-6">
            @Html.LabelFor(m => m.PropiedadTipoId, new { @class = "requerido" })
            @Html.DropDownListFor(m => m.PropiedadTipoId, Model.TiposSelectList, "", dropDownListHtmlAttributes)
            @Html.ValidationMessageFor(m => m.PropiedadTipoId)
            @if (Model.EsID)
            {
                @Html.HiddenFor(m => m.PropiedadTipoId)
            }
        </div>
        <div class="form-group col-6">
            @Html.LabelFor(m => m.PermiteNull, new { @class = "requerido" })
            @Html.DropDownListFor(m => m.PermiteNull, Model.SiNoSelectList, "", dropDownListHtmlAttributes)
            @Html.ValidationMessageFor(m => m.PermiteNull)
            @if (Model.EsID)
            {
                @Html.HiddenFor(m => m.PermiteNull)
            }
        </div>
        <div class="form-group col-6">
            @Html.LabelFor(m => m.GeneradaAlCrear, new { @class = "requerido" })
            @Html.DropDownListFor(m => m.GeneradaAlCrear, Model.SiNoSelectList, "", new { @class = "form-control form-control-required" })
            @Html.ValidationMessageFor(m => m.GeneradaAlCrear)
        </div>
        <div class="form-group col-6">
            @Html.LabelFor(m => m.Editable, new { @class = "requerido" })
            @Html.DropDownListFor(m => m.Editable, Model.SiNoSelectList, "", new { @class = "form-control form-control-required" })
            @Html.ValidationMessageFor(m => m.Editable)
        </div>
        <div class="form-group col-12">
            @Html.LabelFor(m => m.CalculadaFormula)
            @Html.TextAreaFor(m => m.CalculadaFormula, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CalculadaFormula)
        </div>
    </div>
    <div id="@controlesIds.EspecificacionesTextoRow" style="display: none;">
        @Html.Partial("_PropiedadTipoEspecificacionesTexto", Model)
    </div>
    <div id="@controlesIds.EspecificacionesEnteroRow" style="display: none;">
        @Html.Partial("_PropiedadTipoEspecificacionesEntero", Model)
    </div>
    <div id="@controlesIds.EspecificacionesDecimalRow" style="display: none;">
        @Html.Partial("_PropiedadTipoEspecificacionesDecimal", Model)
    </div>
    <div id="@controlesIds.EspecificacionesImporteRow" style="display: none;">
        @Html.Partial("_PropiedadTipoEspecificacionesImporte", Model)
    </div>
    <button type="submit" class="btn btn-primary" data-toggle-state-container="#@controlesIds.Form">Guardar</button>
</form>
@section bodyScripts {
    <script type="text/javascript">
        $(function () {
            establecerVisibilidadEspecificacionesSegunTipo();

            $('#@Html.IdFor(m => m.PropiedadTipoId)')
                .on('change', function () {
                    establecerVisibilidadEspecificacionesSegunTipo();
                });

            function establecerVisibilidadEspecificacionesSegunTipo() {
                $('#@controlesIds.EspecificacionesTextoRow,#@controlesIds.EspecificacionesEnteroRow,#@controlesIds.EspecificacionesDecimalRow,#@controlesIds.EspecificacionesImporteRow').hide();

                switch ($('#@Html.IdFor(m => m.PropiedadTipoId)').val()) {
                    case '@PropiedadTipos.TEXTO':
                        $('#@controlesIds.EspecificacionesTextoRow').show();
                        break;

                    case '@PropiedadTipos.ENTERO':
                    case '@PropiedadTipos.ENTERO_CORTO':
                    case '@PropiedadTipos.ENTERO_LARGO':
                        $('#@controlesIds.EspecificacionesEnteroRow').show();
                        break;

                    case '@PropiedadTipos.DECIMAL':
                    case '@PropiedadTipos.DECIMAL_FLOTANTE':
                        $('#@controlesIds.EspecificacionesDecimalRow').show();
                        break;

                    case '@PropiedadTipos.IMPORTE':
                        $('#@controlesIds.EspecificacionesImporteRow').show();
                        break;
                }
            }
        });
    </script>
}
