@using namasdev.Core.Types;
@using namasdev.Apps.Entidades;
@using namasdev.Apps.Entidades.Metadata;
@using namasdev.Web.Helpers;
@using namasdev.Apps.Web.Portal.ViewModels.EntidadesPropiedades;
@model EntidadesPropiedadesViewModel
@{
    Layout = "~/Views/Shared/_EntidadesLayout.cshtml";
    ViewBag.Title = EntidadPropiedadMetadata.ETIQUETA_PLURAL;

    var controlesIds = new
    {
        Form = $"frm{EntidadPropiedadMetadata.NOMBRE_PLURAL}",
        TablaContainer = $"div{EntidadPropiedadMetadata.NOMBRE_PLURAL}Container",
        Tabla = $"tbl{EntidadPropiedadMetadata.NOMBRE_PLURAL}"
    };
    var displayNames = new
    {
        Busqueda = Html.DisplayNameWithoutEncodingFor(m => m.Busqueda).ToString()
    };
    var clasesCss = new
    {
        BotonEliminar = "btn-eliminar"
    };
}
@Html.Partial("_ResultadoOk")
@Html.Partial("_Errores")
<div class="mt-3">
    <strong>@Html.DisplayNameFor(m => m.EntidadNombre):</strong> @Model.EntidadNombre
</div>
<div class="row mt-3">
    <div class="col-md-3">
        <a href="@Url.Action("Agregar", "EntidadesPropiedades", new { entidadId = Model.Id })" class="btn btn-primary">Agregar</a>
    </div>
    <div class="col-md-9 text-right filtros">
        @using (Html.BeginForm("Index", "EntidadesPropiedades", FormMethod.Get, new { @class = "form-inline pull-right" }))
        {
            @Html.HiddenFor(m => m.Id)
            @Html.TextBoxFor(m => m.Busqueda, new { @class = "form-control ml-1", placeholder = displayNames.Busqueda, title = displayNames.Busqueda, data_toggle = "tooltip" })
            <button type="submit" class="btn btn-secondary ml-1">Buscar</button>
        }
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        @if (Model.TieneItems)
        {
            <form id="@controlesIds.Form" action="@Url.Action()" method="post">
                @Html.AntiForgeryToken()
                <div id="@controlesIds.TablaContainer" class="table-responsive">
                    <table id="@controlesIds.Tabla" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th><a href="@URLHelper.GenerarUrlConOrden(Request.Url, nameof(EntidadPropiedad.Nombre))">@Html.DisplayNameFor(m => m.Items[0].Nombre) <i class="fa fa-sort ml-2"></i></a></th>
                                <th><a href="@URLHelper.GenerarUrlConOrden(Request.Url, $"{nameof(EntidadPropiedad.Tipo)}.{nameof(PropiedadTipo.Nombre)}")">@Html.DisplayNameFor(m => m.Items[0].PropiedadTipoNombre) <i class="fa fa-sort ml-2"></i></a></th>
                                <th><a href="@URLHelper.GenerarUrlConOrden(Request.Url, nameof(EntidadPropiedad.PermiteNull))">@Html.DisplayNameFor(m => m.Items[0].PermiteNull) <i class="fa fa-sort ml-2"></i></a></th>
                                <th><a href="@URLHelper.GenerarUrlConOrden(Request.Url, nameof(EntidadPropiedad.Orden))">@Html.DisplayNameFor(m => m.Items[0].Orden) <i class="fa fa-sort ml-2"></i></a></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int cant = Model.Items.Count;

                            }
                            @for (var i = 0; i < cant; i++)
                            {
                                <tr>
                                    <td class="text-center">
                                        @Html.HiddenFor(m => m.Items[i].EntidadPropiedadId)
                                        @Html.CheckBoxFor(m => m.Items[i].Seleccionado)
                                    </td>
                                    <td class="text-center">
                                        @if (Model.Items[i].EsClave)
                                        {
                                            <i class="fa fa-key" data-toggle="tooltip" title="Clave"></i>
                                        }
                                    </td>
                                    <td>@Model.Items[i].Nombre</td>
                                    <td>@Model.Items[i].PropiedadTipoNombre</td>
                                    <td>@Formateador.SiNo(Model.Items[i].PermiteNull)</td>
                                    <td>@Formateador.Numero(Model.Items[i].Orden)</td>
                                    <td class="text-center">
                                        <a href="@Url.Action("Editar", new { id = Model.Items[i].EntidadPropiedadId, Model.Items[i].EntidadId })" class="btn btn-sm btn-outline-secondary"><i class="fa fa-edit" data-toggle="tooltip" title="Editar"></i></a>
                                        <button class="btn btn-sm btn-outline-danger @clasesCss.BotonEliminar" data-id="@Model.Items[i].EntidadPropiedadId"><i data-toggle="tooltip" title="Eliminar" class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary" name="@Html.NameFor(m => m.Operacion)" value="@EntidadesPropiedadesViewModel.OPERACION_ESTABLECER_CLAVE">Establecer como clave</button>
                </div>
            </form>
        }
        else
        {
            <div class="alert alert-warning">No hay propiedades para mostrar.</div>
        }
    </div>
</div>
<div class="mt-2">
    <a href="@Url.Action("Index", "Entidades", new { Model.AplicacionVersionId })" class="btn btn-secondary">Volver</a>
</div>
@section bodyScripts {
    <script type="text/javascript">
        $(function () {
            namasdevApps.setActiveMenuOption('entidades');
            $('#tabPropiedades').addClass('active');

            $('#@controlesIds.Tabla')
                .on('click', '.@clasesCss.BotonEliminar', function (ev) {
                    ev.preventDefault();

                    var id = $(this).data('id');
                    if (!id) {
                        return;
                    }

                    var options = {
                        showLoadingSelector: '#@controlesIds.TablaContainer',
                        confirm: true,
                        confirmTitle: 'Eliminar propiedad',
                        confirmMessage: '¿Estás seguro que deseas eliminar la propiedad seleccionada?'
                    };
                    namasdevApps.postJson(
                        '@Url.Action("Eliminar")/' + id,
                        nmd.ui.forms.createDataWithAntiForgeryToken('#@controlesIds.Form'),
                        function (response) {
                            if (response.success) {
                                nmd.ui.controls.showSuccessModal(
                                    'La propiedad fue eliminada correctamente.',
                                    function () {
                                        nmd.page.reloadPage();
                                    });
                            }
                            else {
                                namasdevApps.showErrorModal(response.message);
                            }
                        },
                        options
                    );

                    return false;
                });
        });
    </script>
}
