@using namasdev.Apps.Entidades.Valores;
@using namasdev.Apps.Entidades.Metadata; 
@using namasdev.Apps.Web.Portal.ViewModels.EntidadesPropiedades;
@model EntidadPropiedadViewModel
@{
    ViewBag.Title = $"{Model.PaginaModo} {EntidadPropiedadMetadata.ETIQUETA}";

    var controlesIds = new 
    {
        Form = $"frm{EntidadPropiedadMetadata.NOMBRE}",
        EspecificacionesTextoRow = $"div{PropiedadTipoEspecificacionesTextoMetadata.NOMBRE}",
        EspecificacionesEnteroRow = $"div{PropiedadTipoEspecificacionesEnteroMetadata.NOMBRE}",
        EspecificacionesDecimalRow = $"div{PropiedadTipoEspecificacionesDecimalMetadata.NOMBRE}",
    };
}
<h2>@ViewBag.Title</h2>
<form id="@controlesIds.Form" action="@Url.Action()" method="post" class="mt-3">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(excludePropertyErrors: true)
    @Html.Partial("_Errores")
    @Html.Partial("_ResultadoOk")
    @Html.HiddenFor(m => m.PaginaModo)
    @Html.HiddenFor(m => m.EntidadPropiedadId)
    @Html.HiddenFor(m => m.EntidadId)
    @Html.HiddenFor(m => m.EntidadNombre)
    <div class="form-row">
        <div class="form-group col-lg-5 col-md-6">
            <div><strong>@Html.DisplayNameFor(m => m.EntidadNombre):</strong> @Model.EntidadNombre</div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-lg-6 col-md-12">
            @Html.LabelFor(m => m.Nombre, new { @class = "requerido" })
            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control form-control-required", maxlength = EntidadPropiedadMetadata.Propiedades.Nombre.TAMAÑO_MAX })
            @Html.ValidationMessageFor(m => m.Nombre)
        </div>
        <div class="form-group col-lg-6 col-md-12">
            @Html.LabelFor(m => m.Etiqueta, new { @class = "requerido" })
            @Html.TextBoxFor(m => m.Etiqueta, new { @class = "form-control form-control-required", maxlength = EntidadPropiedadMetadata.Propiedades.Etiqueta.TAMAÑO_MAX })
            @Html.ValidationMessageFor(m => m.Etiqueta)
        </div>
        <div class="form-group col-lg-2 col-sm-4">
            @Html.LabelFor(m => m.PropiedadTipoId, new { @class = "requerido" })
            @Html.DropDownListFor(m => m.PropiedadTipoId, Model.TiposSelectList, "", new { @class = "form-control form-control-required" })
            @Html.ValidationMessageFor(m => m.PropiedadTipoId)
        </div>
        <div class="form-group col-lg-2 col-sm-4 col-6">
            @Html.LabelFor(m => m.Orden, new { @class = "requerido" })
            @Html.TextBoxFor(m => m.Orden, new { @class = "form-control inputmask-integer form-control-required", maxlength = 5 })
            @Html.ValidationMessageFor(m => m.Orden)
        </div>
        <div class="form-group col-12">
            @Html.LabelFor(m => m.CalculadaFormula)
            @Html.TextAreaFor(m => m.CalculadaFormula, new { @class = "form-control", maxlength = EntidadPropiedadMetadata.Propiedades.CalculadaFormula.TAMAÑO_MAX })
            @Html.ValidationMessageFor(m => m.CalculadaFormula)
        </div>
        <div class="form-group col-lg-2 col-sm-4 col-6">
            @Html.LabelFor(m => m.PermiteNull, new { @class = "requerido" })
            @Html.DropDownListFor(m => m.PermiteNull, Model.SiNoSelectList, "", new { @class = "form-control form-control-required" })
            @Html.ValidationMessageFor(m => m.PermiteNull)
        </div>
        <div class="form-group col-lg-2 col-sm-4 col-6">
            @Html.LabelFor(m => m.GeneradaAlCrear, new { @class = "requerido" })
            @Html.DropDownListFor(m => m.GeneradaAlCrear, Model.SiNoSelectList, "", new { @class = "form-control form-control-required" })
            @Html.ValidationMessageFor(m => m.GeneradaAlCrear)
        </div>
        <div class="form-group col-lg-2 col-sm-4 col-6">
            @Html.LabelFor(m => m.Editable, new { @class = "requerido" })
            @Html.DropDownListFor(m => m.Editable, Model.SiNoSelectList, "", new { @class = "form-control form-control-required" })
            @Html.ValidationMessageFor(m => m.Editable)
        </div>
    </div>
    <div id="@controlesIds.EspecificacionesTextoRow" style="display: none;">
        @Html.Partial("_PropiedadTipoEspecificacionesTexto", Model)
    </div>
    <div id="@controlesIds.EspecificacionesEnteroRow" style="display: none;">
        @Html.Partial("_PropiedadTipoEspecificacionesEntero", Model)
    </div>
    <div id="@controlesIds.EspecificacionesDecimalRow" style="display: none;">
        @Html.Partial("_PropiedadTipoEspecificacionesDecimal", Model)
    </div>
    <button type="submit" class="btn btn-primary" data-toggle-state-container="#@controlesIds.Form">Guardar</button>
    <a href="@Url.Action("Index", new { entidadId = Model.EntidadId })" class="btn btn-secondary">Volver</a>
</form>
@section bodyScripts {
    <script type="text/javascript">
        $(function () {
            namasdevApps.setActiveMenuOption('entidades');

            establecerVisibilidadEspecificacionesSegunTipo();

            $('#@Html.IdFor(m => m.PropiedadTipoId)')
                .on('change', function () {
                    establecerVisibilidadEspecificacionesSegunTipo();
                });

            function establecerVisibilidadEspecificacionesSegunTipo() {
                $('#@controlesIds.EspecificacionesTextoRow,#@controlesIds.EspecificacionesEnteroRow,#@controlesIds.EspecificacionesDecimalRow').hide();

                switch ($('#@Html.IdFor(m => m.PropiedadTipoId)').val()) {
                    case '@PropiedadTipos.TEXTO':
                        $('#@controlesIds.EspecificacionesTextoRow').show();
                        break;

                    case '@PropiedadTipos.ENTERO':
                    case '@PropiedadTipos.ENTERO_CORTO':
                    case '@PropiedadTipos.ENTERO_LARGO':
                        $('#@controlesIds.EspecificacionesEnteroRow').show();
                        break;

                    case '@PropiedadTipos.DECIMAL':
                    case '@PropiedadTipos.DECIMAL_LARGO':
                        $('#@controlesIds.EspecificacionesDecimalRow').show();
                        break;
                }
            }
        });
    </script>
}
